
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1400px;
    
}

main {
    padding: 30px;
    background-color: grey;
    background-image: url(../assets/wap.png);
}

header {
    background-color: rgba(238, 113, 175);
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

#verb, #noun, #noun2, #adjective, #plural-noun, #noun3, #noun4, #noun5, #noun6 {
    box-shadow: white 1px 1px 5px .5px;
    border-radius: 50px;
}

#wapify-btn {
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 50px;
    color: black;
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 1.5em;
    color: rgb(241, 229, 50);
}

#input-boxes {
    margin-left: 40%;
}

#lyrics-box {
    background-color: rgba(238, 113, 175, 0.822);
    border-radius: 20px 20px 20px 20px ;
}